<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="">
    <title></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.rtl.min.css">
    <script src="assets/jquery/jquery.min.js"></script>
    <style>
        @font-face {
        font-family: 'Tajawal';
            src: url('assets/fonts/Tajawal/Tajawal-Regular.ttf');
        }

        body{
            font-family: 'Tajawal', sans-serif;
        }

        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
        background: #888;
        }
        ::-webkit-scrollbar-thumb:hover {
        background: #555;
        }
    </style>
</head>
<body class="bg-light">
    <div class="row g-0">
        <div class="col-auto text-center">
            <div class="text-bg-dark p-3 text-center sticky-top overflow-auto vh-100 mw-25" style="min-width: 200px;">
                <img src="" id="sidebar-logo" class="rounded" alt="Logo" style="max-width: 100px;">
                <div id="sidebar-title" class="h4"></div>
                <hr>
                <ul id="sidebar" class="nav d-block">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#start">
                            البداية
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-content" class="col">
            <div id="content-tabs" class="p-2">
                <div class="content-tab" id="start">
                    <div class="mb-2">
                        <b>العنوان:</b>
                        <span class="project-title"></span>
                    </div>
                    <div class="mb-2">
                        <b>النسخة:</b>
                        <span class="project-version"></span>
                    </div>
                    <div class="mb-2">
                        <b>بواسطة:</b>
                        <span class="project-author"></span>
                    </div>
                    <div class="mb-2">
                        <b>الايميل:</b>
                        <span class="project-author-email"></span>
                    </div>
                    <div class="mb-2">
                        <b>الموقع:</b>
                        <span class="project-website"></span>
                    </div>
                    <div class="mb-2">
                        <b>التاريخ:</b>
                        <span class="project-date"></span>
                    </div>
                    <div class="mb-2">
                        <b>التحديث:</b>
                        <span class="project-update-date"></span>
                    </div>
                    <div class="mb-2">
                        <b>الوصف:</b>
                        <div class="project-description"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overloader position-fixed top-0 start-0 w-100 h-100 bg-light text-center align-content-center" style="z-index: 999999;">
        <div class="spinner-border fs-2" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script src="assets/data.js"></script>
    <script>
        function random_id() {
            return Math.random().toString(36).substring(2, 15);
        }
        if(content_data.logo){
            jQuery('#sidebar-logo').attr('src', content_data.logo);
        }else{
            jQuery('#sidebar-logo').remove();
        }
        jQuery('#sidebar-title, title').html(content_data.title);
        if(!content_data.title){
            jQuery('.project-title').html(content_data.title || '/');            
        }else{
            jQuery('.project-title').parent().remove();
        }        
        if(content_data.version){
            jQuery('.project-version').html(content_data.version || '/');
        }else{
            jQuery('.project-version').parent().remove();
        }
        if(content_data.author){
            jQuery('.project-author').html(content_data.author || '/');
        }else{
            jQuery('.project-author').parent().remove();
        }
        if(content_data.author_email){
            jQuery('.project-author-email').html(content_data.author_email || '/');
        }else{
            jQuery('.project-author-email').parent().remove();
        }
        if(content_data.website){
            jQuery('.project-website').html(content_data.website || '/');
        }else{
            jQuery('.project-website').parent().remove();
        }
        if(content_data.date){
            jQuery('.project-date').html(content_data.date || '/');
        }else{
            jQuery('.project-date').parent().remove();
        }
        if(content_data.update_date){
            jQuery('.project-update-date').html(content_data.update_date || '/');
        }else{
            jQuery('.project-update-date').parent().remove();
        }
        if(content_data.description){
            jQuery('.project-description').html(content_data.description || '/');
        }else{
            jQuery('.project-description').parent().remove();
        }

        content_data.content.forEach(element => {
            let tab_id = random_id();
            jQuery('#sidebar').append(`
                <li class="nav-item">
                    <a class="nav-link text-light" href="#${tab_id}">
                        ${element.title}
                    </a> 
                </li>
            `);
            jQuery('#content-tabs').append(`
            <hr>
            <div class="content-tab" id="${tab_id}">
                <h1 class="h2 fw-bold">${element.title}</h1>
                <div>${element.content}</div>
            </div>
            `);
        });
        document.querySelector('.overloader').style.display = 'none'
    </script>
</body>
</html>